/* CSS declarations go here */
html {
  background-color: #ececec;
}

.left-text {
  text-align: left;
}
.right-text {
  text-align: right;
}


/* list */
.list {
  background-color: #ffffff;
}
.list .list-item {
  display: block;
  height: 48px;
  line-height: 48px;
  color: #212121;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  padding-right: 22px;
}
.list .list-item .list-tile-left,
.list .list-item .list-tile-content,
.list .list-item .list-tile-right {
  display: inline-block;
  height: 48px;
}
.list .list-item .list-tile-left {
  float: left;
  padding: 0 22px;
}
.list .list-item .list-tile-right {
  float: right;
}

/* materialize css overrides */
table thead tr th, table tbody tr td {
  text-align: left;
}

/* materialize css fixes */
i {
  line-height: inherit;
}
i.small {
  font-size: 2rem;
}
i.medium {
  font-size: 4rem;
}
i.large {
  font-size: 6rem;
}

.btn-floating.btn-large {
  width: 55.5px;
  height: 55.5px;
}
.btn-floating.btn-large i {
  line-height: 55.5px;
}

span.badge {
  min-width: 3rem;
  padding: 0 6px;
  text-align: center;
  font-size: 1rem;
  line-height: inherit;
  color: #757575;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
span.badge.new {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #2196F3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
}
span.badge.new:after {
  content: " new";
}
.collection .collection-item {
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0px;
  border-bottom: 1px solid #e0e0e0;
}
